<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>Container</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.6.2/css/bulma.css"/>
  </head>
  <body>
    <div id="root" class="container">
      <header>
        <h1 class="title">Container</h1>
        <p class="subtitle">A simple container to center your content horizontally</p>
      </header>
      <section>
        <h3 class="title">Fluid container</h3>
      </section>
    </div>
  </body>
</html>
